.todo__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.todo__add-task {
  margin-top: 50px;
  background: linear-gradient(180deg, #0A961C 0%, #0B5B16 100%);
  padding: 0 23px;
  padding-top: 27px;
  padding-bottom: 22px;
  width: 100%;
}
.todo__task {
  background: rgba(255, 255, 255, 0.4);
  width: 100%;
  padding: 15px 25px;
}
.todo__done-task {
  background: rgba(255, 255, 255, 0.4);
  width: 100%;
  padding: 15px 25px;
}

.add-task__title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
  font-size: 35px;
  color: #fff;
}
.add-task__form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-task__input {
  height: 46px;
  border-radius: 25px;
  border: 1px solid #000;
  padding: 17px 24px;
  margin-right: 6px;
  display: block;
  flex: 0 1 70%;
}
.add-task__create-btn {
  height: 46px;
  width: 46px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  color: #0A961C;
  font-size: 20px;
}

.task__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 15px;
}
.task__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.task__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  padding: 25px 80px;
  line-height: 1.2;
  position: relative;
  margin: 10px 5px;
}
.task__text {
  width: 100%;
}
.task__do-btn {
  position: absolute;
  left: 0;
  top: 0;
  background: #0A961C;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 8px 0px 0px 8px;
  color: #fff;
  font-size: 22px;
  transition: background 0.3s ease-in-out;
  height: 100%;
}
.task__delete-btn {
  background: #CB2E2E;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 0px 8px 8px 0px;
  color: #fff;
  font-size: 22px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.done-task {
  text-decoration: line-through;
  background-color: rgba(10, 150, 29, 0.6);
  color: #fff;
}
.done-task__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
}
@media (max-width: 480px) {
  .add-task__form {
    flex-direction: column;
  }
  .add-task__input {
    height: 46px;
    border-radius: 25px;
    border: 1px solid #000;
    padding: 17px 10px;
    margin-right: 0px;
    margin-bottom: 6px;
    font-size: 12px;
  }
  .add-task__create-btn {
    height: 46px;
    width: 46px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 50%;
    color: #0A961C;
    font-size: 20px;
  }
}